<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Sitter</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <i class="fa fa-home text-success w3-xxlarge"></i>
            </div>
    
            <div class="nav navbar-nav navbar-right">
                <div class="form-group">
                    <div class="input-group align-items-center">
                        <div class="input-group-prepend mt-3 mx-1">
                            <span class="input-group-text bg-secondary"><i
                                    class="fa fa-search text-white p-1"></i></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <div class="input-group-apend">
                            {{#if logged in}}
                             <a href="/">Home</a>
                             <button class="no-button" id="logout">Logout</button>
                            {{!-- <a href="#" class="btn btn-success mt-3 mx-2">Sign Up</a> --}}
                            {{else}}
                            <a href="/">Home</a>
                            <a href="/login" class="btn btn-success mt-3">Login</a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center bg-secondary text-white">
        <h1> Plant Sitter </h1>
        <p>Identify House Plants and Learn Basic Care!</p>
    </div>

    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    </div>
    {{#if logged_in}}
        <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>