{{! incase we use a form that needs a drop down menu with a input }}

<form action="/tasks" method="POST">
  <select id="taskCategory" name="category" onchange="updateInputTitle(this)">
    <option value="" disabled selected>Select Category</option>
    <option value="Work">Work</option>
    <option value="Personal">Personal</option>
    <!-- Add more categories as needed -->
  </select>
  <input
    type="text"
    id="titleInput"
    name="title"
    placeholder="Task Title"
    onclick="clearPlaceholder(this)"
  />
  <input type="text" name="description" placeholder="Task Description" />
  <input type="submit" value="Add Task" />
</form>

<script src="/public/js/addTask.js">
</script>