
<section class="signUp-container">
  <header>
    <h1>Welcome to Our House Plant App!</h1>
    <p>Join us and explore these amazing features:</p>
  </header>
  
  <ul>
    <li>Identify your leafy friends.</li>
    <li>Find out about plants life cycles.</li>
    <li>Understand the right amount of sunlight.</li>
    <li>Establish if the plant is poisonous.</li>
    <li>Figure out the watering schedule.</li>
    <li>Decide the best placement for the plant's needs.</li>
    <li>Learn if the plant is edible.</li>
    <!-- Add more features as needed -->
  </ul>

  <form class="signup-form">
  {{!-- groups related controls together --}}
    <fieldset>   
      {{!-- for the caption used legend --}}
      <legend>Sign Up Information</legend>
      <label for="username">Username:</label>
      <input type="text" id="name-signup" name="username" placeholder="Enter a username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password-signup" name="password" placeholder="Enter a password" required />
      <br />
      <label>
      <input type="checkbox" id="emailCheckbox" name="emailCheckbox" />
      Want to receive emails about plant additions and personalized plant care? Enter your email address here! 
    </label>
    <br />
      <label for="email">Email:</label>
      <input type="email" id="email-signup" name="email" placeholder="Enter email address" />
    </fieldset>
    <button type="submit" class="btn btn-success mt-2 mb-3">Sign Up</button>
  </form>
</section>

<script src="/js/homepage.js"></script>
{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/signup.js"></script>

{{!-- loading spinner? error handling? --}}