<form action="/api/users/login" method="post" class="login-form">
  <fieldset>
    <legend>Login Information</legend>
    <label>
      Username:
      <input type="text" name="username" placeholder="Enter your username" id="username" required />
    </label>
<br />
    <label>
      Password:
      <input type="password" name="password" placeholder="Enter your password" id="password-login" required />
    </label>
<br />

  </fieldset>

  <a href="{{forgotPasswordUrl}}">Forgot password?</a>

  <button type="submit" class="btn btn-success py-1 ">Login</button>
  <button id="scrollButton">Scroll Down</button>


  <div class="signup-form">
    Don't have an account?
    <a href="{{signUpUrl}}">Sign up</a>
  </div>
</form>

<script src="/js/login.js"></script>